@font-face {
  font-family: "BlenderPro-Bold";
  src: url('../assets/fonts/BlenderPro-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "BlenderPro-Book";
  src: url('../assets/fonts/BlenderPro-Book.ttf') format('truetype');
}
@font-face {
  font-family: "TrebleBoldW00-Regular";
  src: url('../assets/fonts/TrebleBold.ttf') format('truetype');
}
